.group_container {
    margin-top: 1rem;
}

.group_container .buttons {
    margin: 0 0.5rem;
    display: flex;
}

.group {
    border-width: 0.1rem;
    border-style: dashed;
    border-radius: 0.5rem;
    min-width: 35rem;
    min-height: 15rem;
    width: fit-content;
    height: fit-content;
    padding: 1rem;
    position: relative;
    display: flex;
    flex-direction: column;
    /*resize: both;*/
    /*overflow: auto;*/
    background-color: rgb(23, 23, 23);
}

.group_label {
    font-size: 1rem;
    padding-left: 1rem;
}