.group {
    border-width: 0.1rem;
    border-style: dashed;
    border-radius: 0.5rem;
    width: 35rem;
    height: 24rem;
    padding: 1rem;
    margin: 1rem;
    position: relative;
    display: flex;
    flex-direction: column;
    resize: both;
    overflow: auto;
}

.group_label {
    font-size: 1.5rem;
    position: absolute;
    top: -2.5rem;
    left: 0;
    width: 100%;
}