.group_container {
    display: flex;
    margin-top: 1rem;
}

.group_container .buttons {
    margin: 0 0.5rem;
}

.group {
    border-width: 0.1rem;
    border-style: dashed;
    border-radius: 0.5rem;
    width: 35rem;
    height: 24rem;
    padding: 1rem;
    position: relative;
    display: flex;
    flex-direction: column;
    resize: both;
    overflow: auto;
    background-color: rgb(23, 23, 23);
}

.group_label {
    font-size: 1.5rem;
    position: absolute;
    top: -2.5rem;
    left: 0;
}