.link {
    border-bottom-left-radius: 1rem;
    border-left: 0.1rem dashed #646464;
    padding-left: 1rem;
}

.link:hover:not(:has(.link:hover)) {
    background-color: #727272;
    /*border-radius: 0.5rem;*/
}

.link:active, .link:focus {
    background-color: #4b4b4b;
}

.link.collapse {
    height: 0;
}
.link.dependant {
}

.link.sibling {
}
