.link {
  border-bottom-left-radius: 1rem;
  border-left: 0.1rem dashed #646464;
  display: flex;
}

.link:hover:not(:has(.link:hover)) {
  background-color: #aeaeae;
  /*border-radius: 0.5rem;*/
}

.link:active,
.link:focus {
  background-color: #727272;
}

.link.collapse {
  height: 0;
}
.link.dependant {
  border-style: dashed;
}

.link.associate {
  border-style: double;
  border-left-width: 0.2rem;
}

.link > .action-button {
  background: none;
  border: none;
  border-bottom-left-radius: 0.5rem;
  height: unset;
  width: 1rem;
}
.link > .action-button > .action_items {
  top: 50%;
  left: 120%;
}
