.oniform {
    display: flex;
    flex-direction: column;
    margin: 2rem;
}

.oniform > .buttons {
    display: flex;
    margin: 1rem;
    gap: 0.5rem;
}

.oniform textarea:focus, .oniform textarea:active, .oniform input:focus, .oniform input:active{
    background-color: rgb(221, 220, 220);
}