/* src/styles/station.css */

.stations {
    display: flex;
    flex-direction: column;
}

.station_container {
    display: flex;
    flex-direction: column;
    min-width: 30rem;
    width: fit-content;
    padding-left: 1rem;
    position: relative;
}

.station {
    position: relative;
    padding-top: 1rem;
    width: 100%;
}

.station_label {
    font-size: 1rem;
    padding-left: 1rem;
    background-color: rgb(196, 196, 196);
    border: 0.3rem double #505050;
    width: 100%;
}

.station_textarea {
    width: 100%;
    min-height: 40px;
    padding: 10px;
    border: 0.3rem double #505050;
    /*border-radius: 5px;*/
    font-family: Courier, monospace;
    font-size: 14px;
    resize: vertical;
    overflow: auto;
    background-color: rgb(196, 196, 196);
}

.station_textarea.folded{
    border: 0.3rem solid #000000;
    width: 30rem;
}

.station > .terminals.collapse {
    height: 0;
}