/* src/styles/station.css */

.station_container {
    display: flex;
    flex-direction: column;
    width: 30rem;
    margin-top: 1rem;
    /*position: relative;*/
}

/*.station_container:after{*/
/*    content: "";*/
/*    position: absolute;*/
/*    top: 0.25rem;*/
/*    left: 0.75rem;*/
/*    height: 90%;*/
/*    width: 0.15rem;*/
/*    background-color: #cade8d;*/
/*}*/

.station_container .buttons {
    margin: 0 0.5rem;
}

.station {
    display: flex;
    align-items: center;
    margin: 1rem;
    position: relative;
}

.station_label {
    font-size: 1rem;
    position: absolute;
    top: -1.5rem;
    left: 3rem;
    padding-left: 1rem;
}

.station_textarea {
    width: 100%;
    min-height: 40px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-family: monospace;
    font-size: 14px;
    resize: both;
    overflow: auto;
}