#clipboard {
    display: none;
    position: fixed;
    top: 0;
    right: 2.5rem;
    width: 40%;
    height: 90%;
    background-color: rgb(23,23,23);
    z-index: 999;
    overflow: auto;
    resize: horizontal;
    direction: rtl;
    padding-left: 1rem;
    padding-right: 2rem;
    border-width: 0.1rem;
    border-color: rgba(224, 224, 224, 0.5);
    border-radius: 0.5rem;
    margin-top: 2rem;
}

#clipboard > * {
    direction: ltr;
}

#clipboard.show {
    display: flex;
}

.clipboard_container {
    width: 100%;
}

.clipboard_container h2 {
    font-size: 1.25rem;
    font-weight: bold;
    font-family: monospace;
    margin-top: 1rem;
    padding-inline: 1rem;
}

