.group_container {
    margin-top: 1rem;
    padding: 0 1rem 1rem 1rem;
}

.group_container .buttons, .station_container .buttons, .terminal_container .buttons {
    margin: 0 0.5rem;
    display: flex;
}

.group {
    border-width: 0.1rem;
    border-radius: 0.5rem;
    border-color: rgba(224, 224, 224, 0.5);
    min-width: 35rem;
    width: fit-content;
    height: fit-content;
    padding: 1rem;
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: rgb(23,23,23);
    box-shadow: 2px 3px 5px 2px rgba(169, 169, 169, 0.3);
}

.group.folded {
    border-right: 0.5rem solid #cade8d;
    width: 30rem;
}

.group_label {
    font-size: 1rem;
    padding-left: 1rem;
}