.question {
    display: flex;
    flex-direction: column;
    margin: 0.5rem 0;
    width: 100%;
}

.question select {
    margin: 0.5rem 0;
    padding: 0.25rem;
    color: white;
    background-color: #545454;
}

.question select > option{
     margin: 0.5rem 0;
     padding: 0.25rem;
     color: white;
    background-color: #545454;
 }